body{
    font-family: Arial;
    background:#e6ddd6;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.chat-container{
    width:380px;
    height:650px;
    background:white;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    display:flex;
    flex-direction:column;
}

/* HEADER */

.chat-header{
    background:#2f665a;
    color:white;
    padding:14px;
    font-size:18px;
    font-weight:bold;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logout-btn{
    background:#ff3b30;
    border:none;
    padding:6px 12px;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

/* SEARCH BAR */

.search-bar{
    display:flex;
    gap:8px;
    padding:10px;
}

.search-bar input{
    flex:1;
    padding:8px;
    border:1px solid #ccc;
    border-radius:4px;
}

/* GROUP BAR */

.group-bar{
    display:flex;
    gap:6px;
    padding:0 10px 10px 10px;
}

.group-bar input{
    flex:1;
    padding:8px;
    border:1px solid #ccc;
    border-radius:4px;
}

/* BUTTONS */

button{
    padding:8px 12px;
    border:none;
    border-radius:4px;
    background:#2f665a;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#255248;
}

/* CHAT AREA */

.chat-messages{
    flex:1;
    padding:10px;
    overflow-y:auto;
    display:flex;
    flex-direction:column;
    gap:10px;
}

/* MESSAGE */

.message{
max-width:65%;
padding:10px 14px;
margin:6px 0;
border-radius:12px;
word-wrap:break-word;
font-size:15px;
}

.sent{
background:#dcf8c6;
align-self:flex-end;
border-bottom-right-radius:3px;
}

.received{
background:#ffffff;
align-self:flex-start;
border-bottom-left-radius:3px;
border:1px solid #e5e5e5;
}

.timestamp{
    font-size:10px;
    display:block;
    text-align:right;
}

/* FILE SECTION */

.file-upload{
    padding:8px 10px;
    border-top:1px solid #ddd;
}

/* MESSAGE INPUT */

.chat-input{
    display:flex;
    border-top:1px solid #ddd;
}

.chat-input input{
    flex:1;
    padding:10px;
    border:none;
    outline:none;
}

.chat-input button{
    padding:10px 16px;
}
.message img{
max-width:200px;
border-radius:10px;
display:block;
}
#chatMessages{
display:flex;
flex-direction:column;
padding:10px;
}
.chat-image{
max-width:220px;
border-radius:10px;
display:block;
}